{% capture written_label %}'None'{% endcapture %}

{% if post.author %}
    {{ post.author | remove: "<p>" | remove: "</p>" }} <br>
{% endif %}

{% if post.title %}
    <b>{{ post.title }}</b> <br>
{% endif %}

{% if post.journal %}
    In <i>{{ post.journal }} </i>
{% endif %}

{% if post.volume %}
    {{ post.volume }}
{% endif %}

{% if post.number %}
    ({{ post.number }}):
{% endif %}

{% if post.pages %}
    {{ post.pages | strip }}
{% endif %}

{% if post.doi and post.weblink %}
    <br><a href="{{ post.weblink }}">DOI: {{ post.doi }}</a>
{% elsif post.doi %}
    {% assign doi_prefix = "https://doi.org/" %}
    <br><a href="{{ doi_prefix }}{{ post.doi }}">DOI: {{ post.doi  }}</a>
{% elsif post.weblink %}
    <br><a href="{{ post.weblink }}">{{ post.weblink }}</a>
{% endif %}
<br>

