<h2 class="archive__subtitle"> Erscheinungsjahr</h2>

<div>
    {% for collection in site.collections %}
        {% if collection.label == "publikationen" %}
            {% assign publicationsInYear = collection.docs
                | where_exp: "item", "item.hidden != true"
                | group_by_exp: 'post', 'post.date
                | date: "%Y"'
                | reverse %}
        {% endif %}
    {% endfor %}

    {% for year in publicationsInYear %}
    <div class="page__taxonomy-item">
        <a href="#{{ year.name }}">
            <strong>{{ year.name }}: &nbsp;&nbsp;&nbsp;</strong>
            <span class="taxonomy__count">{{ year.items | size }}</span>
        </a>
    </div>
    {% endfor %}
</div>

