---
layout: archive
---

<!-- Builds the index count for all publications-->
<ul class="taxonomy__index">
    {% for collection in site.collections %}
        {% if collection.label == "publikationen" %}
            {% assign publicationsInYear = collection.docs | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y"' %}
        {% endif %}
    {% endfor %}

    {% for year in publicationsInYear %}
    <li>
        <a href="#{{ year.name }}">
            <strong>{{ year.name }}</strong> <span class="taxonomy__count">{{ year.items | size }}</span>
        </a>
    </li>
    {% endfor %}
</ul>

<!-- Collects and displays all publications by Year -->
{% assign entries_layout = page.entries_layout | default: 'list' %}


<!--{% assign postsByYear = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y"' %}-->
{% for collection in site.collections %}
    {% if collection.label == "publikationen" %}
        {% assign publicationsInYear = collection.docs
            | where_exp: "item", "item.hidden != true"
            | group_by_exp: 'post', 'post.date | date: "%Y"'
            | reverse %}
    {% endif %}
{% endfor %}

{% for year in publicationsInYear %}
<section id="{{ year.name }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ year.name }}</h2>
    <div class="entries-{{ entries_layout }}">
        {% for post in year.items %}
            {% include publication.html %}
        {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
</section>
{% endfor %}
